[Unit]
Description=Sensor Pzem004t -> RMQ service
After=network.target

[Service]
WorkingDirectory=/opt/sensor
ExecStart=/opt/sensor/pzem004t.rmq
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target